<!-- done -->
<header>
    <h3 class="title"><img src = "/images/trophy.jpeg" alt="p.jpeg" width="30" height="30"> <a href="/"> National Science Foundation </a> <img src = "/images/trophy.jpeg" alt="p.jpeg" width="30" height="30"> </h3>
    </header>
